h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 20px;
    font-size: 24pt;
    /* margin-bottom: 60px; */
    /* margin-left: ;
    margin-top: ;
    margin-right: ; */
    margin: 0px 0px 60px 0px;
    /* padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ; */
    padding: 0px 0px 60px 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Courier New';
}

.paragraph-4 {
    font-weight: bold;
    font-size: 24pt;
    font-family: 'Courier New';
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px 10px lightgreen;color:green;
    
    
}
